<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Введите тег">
        <<input type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <button type="submit">Добавить</button>
    </form>
</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
    <button type="submit">Найти</button>
</form>
<div>
<tr th:each="message : ${messages}">
    <td th:text="${message.id}">1</td>
    <td th:text="${message.tag}">Text ...</td>
    <td th:text="${message.text}">Text ...</td>
</tr>
</div>
</body>
</html>