<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите исх. валюту">
        <input type="text" name="tag" placeholder="Введите кон. валюту">
        <input type="number" name="amount" placeholder="Введите количество">
<!--        <input type="hidden"-->
<!--                th:name="${_csrf.parameterName}"-->
<!--                th:value="${_csrf.token}"/>-->
        <button type="submit">Добавить</button>
    </form>
</div>
<form method="get" action="/main">
    <input type="text" name="filter" th:value="${filter}">
<!--    <input type="hidden"-->
<!--           th:name="${_csrf.parameterName}"-->
<!--           th:value="${_csrf.token}"/>-->
    <button type="submit">Найти</button>
</form>
<div>
<tr th:each="message : ${messages}">
    <strong><td th:text="${message.id}">1</td></strong>
    <td th:text="${message.text}">Text ...</td>
    <td th:text="${message.tag}">Text ...</td>
    <td th:text="${message.firstValue}">Text ...</td>
    <td th:text="${message.secondValue}">Text ...</td>
    <td th:text="${message.date}">Text ...</td>
    <i><td th:text="${message.author.getUsername()}">Text ...</td></i>
    <br>
</tr>
</div>
</body>
</html>